<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body ng-app="rummy">

    <ry-tabs></ry-tabs>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.6.0/socket.io.min.js"></script>
    <script src="/components/app.js"></script>
    <script src="/components/tabs/tabs.js"></script>
  </body>
</html>
