#new-game-btn
  position absolute
  bottom 7%
  left 83%

.container
  margin-top 8%
  display flex
  flex-wrap wrap
  align-content space-between
  .item
    flex 1 30vw
    margin-top 2%
    &:nth-child(even)
      text-align right
    .score
      font-size 3.5em
      display inline
      margin-right -2%
    span
      font-size 1.2em
      color #7c7b86
#end-round
  left 85%
table
  margin-top 5%
  tbody
    height 35vh
    display inline-block
    overflow auto
    width 96vw
    position absolute
    td, th
      display inline-block
      width 23vw
      padding-left 7%
th
  padding-left 3%