<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s4" id="play-tab"><a class="active" href="#play">Play</a></li>
            <li class="tab col s4" id="trend-tab"><a href="#trend">Trend</a></li>
            <li class="tab col s4" id="settings-tab"><a href="#settings">Settings</a></li>
        </ul>
    </div>
    <div id="play" class="col s12">

    </div>
    <div id="trend" class="col s12">

    </div>
    <div id="settings" class="col s12">

    </div>
</div>